venv/
.env/
*.pyc
old/
# macOS
.DS_Store

# PyCharm
.idea/

# outputs
*.csv
*.mp4
*.insv
/tool/Gyroflow-mac-universal 163.dmg
/data/LRV_20260221_091717_01_050.lrv
/data/LRV_20260221_091717_01_051.lrv
